@{
    ViewBag.Title = "Trang chủ";
    ViewBag.activeHome = "active";
}
@section JavaScript{
    <script src="~/assets/client/app/home.js"></script>
}

<!--flex-slider-->
<div class="main-flexslider">
    <ul class="slides">
        <li class="slides">
            <img src="~/assets/client/images/4.jpg" alt="slide 01" class="slidesImg">
            <div class="slide-caption">
            </div>
        </li>

        <li class="slides">
            <img src="~/assets/client/images/2.jpg" alt="slide 01" class="slidesImg">
            <div class="slide-caption">
            </div>
        </li>

        <li class="slides">
            <img src="~/assets/client/images/3.jpg" alt="slide 01" class="slidesImg">
            <div class="slide-caption">
            </div>
        </li>

        <li class="slides">
            <img src="~/assets/client/images/1.jpg" alt="slide 01" class="slidesImg">
            <div class="slide-caption">
            </div>
        </li>
    </ul>
</div>
<!--end-flex-slider-->
<!--Icon Blocks-->
<div class="container">
    <div class="icon-blocks">
        <div class="col-sm-4">
            <p>
                <i class="fa fa-group"></i><span class="isActive">đội ngũ nhân viên nhiệt tình</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <i class="fa fa-coffee"></i><span class="isActive">không gian sang trọng</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <i class="fa fa-globe"></i><span class="isActive">giao hàng tận nơi</span>
            </p>
        </div>
    </div>
</div>
<!--end Icon Blocks-->
<!--Products-->
<div class="container">
    <div class="row articles" id="products">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p style="margin-top: 23px; font-size: 13px; color: #fff;" id="table-info"></p>
        </div>
        <div class="col-sm-6 pagination-ul">
            <ul id="pagination" class="pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
    
</div>

<!--End Products-->
<!-- partners box -->
<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <ul class="partner-list">
                    <li><img alt="" src="~/assets/client/images/client1.png"></li>
                    <li><img alt="" src="~/assets/client/images/client2.png"></li>
                    <li><img alt="" src="~/assets/client/images/client3.png"></li>
                    <li><img alt="" src="~/assets/client/images/client4.png"></li>
                </ul>
            </div>
            <div class="item">
                <ul class="partner-list">
                    <li><img alt="" src="~/assets/client/images/client1.png"></li>
                    <li><img alt="" src="~/assets/client/images/client2.png"></li>
                    <li><img alt="" src="~/assets/client/images/client3.png"></li>
                    <li><img alt="" src="~/assets/client/images/client4.png"></li>
                </ul>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"></a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"></a>
    </div>
</div>
<!--end-partners box -->
<!--articles-->
<div class="container">
    <div class="row articles">
    </div>
</div>
<!--end-prize-->

<script id="template" type="x-tmpl-mustache">
    <div class="col-md-3 col-sm-4 itemProduct">
        <a href="/product/detail?code={{Code}}">
            <img src="{{Image}}" alt="{{ProdName}}" style="width: 100%;height: 257px">
        </a>
        <div class="text">
            <a href="/product/detail?code={{Code}}">
                <span style="color: #5a423b">
                    {{ProdName}}
                </span>
            </a>
            <p>
                {{Cost}}
            </p>
            <a href="/product/detail?code={{Code}}" class="btn btn-order"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
        </div>
    </div>
</script>