@{
    if (ViewBag.LoginSuccess == true)
    {
        <li class="ms-show">
            <a href="javascript:void(0)">@ViewBag.UserName</a>
        </li>
        <li>
            <a id="LogoutUse" href="javascript:void(0)">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="ms-show">
            <a id="LoginUse" href="javascript:void(0)">Đăng nhập</a>
        </li>
        <li class="ms-show">
            <a href="/user/register">Đăng ký</a>
        </li>
    }
}
