<div class="shop-widget">
    <h4>Categories</h4>
    <ul class="category-shop-list">
        @for (var i = 0; i < @ViewBag.Length; i++)
        {
            <li>
                <a class="accordion-link" href="/Category?code=@ViewBag.ListCate[@i].CodeName">@ViewBag.ListCate[@i].CateName (@ViewBag.CateCount[@i])</a>
            </li>
        }
    </ul>
</div>
