@section JavaScript{

    <script src="~/assets/client/js/cartController.js"></script>
}

<div class="box box-primary" style="margin-top:15px;">
    <div>
        <h3 class="text-center box-title">Thông tin giỏ hàng</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ảnh sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Mã sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody id="table-data"></tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="row">
            <div class="col-sm-6">
                <p><span id="dataTables_info"></span></p>
            </div>
            <div class="col-sm-6 pagination-ul">
                <ul id="pagination" class="pagination-sm no-margin pull-right"></ul>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.IsOrdered)
{
    <div class="col-md-5 pull-right">
        <p>Giá trị đơn hàng: <span id="ordersPrice"></span></p>
        <p>Phí vận chuyển: 30,000 đồng</p>
        <p>Tổng cộng: <span id="totalPrice"></span></p>
        <div class="container-fluid">
            <div class="col-md-6 pull-left">
                <a class="btn btn-primary" href="/home">Tiếp tục mua hàng</a>
            </div>
            <div class="col-md-6 pull-right no-padding">
                <a href=/cart/checkout class="btn btn-success">Đặt hàng</a>
            </div>
        </div>
    </div>
}


<!-- /.box -->
<script id="data-template" type="x-tmpl-mustache">
    <tr id="row-{{ProdId}}">
        <td>
            <img class="img-responsive" style="width: 100px; height: 100px;" src="{{ImageUrl}}" alt="{{ProdName}}" />
        </td>
        <td>{{ProdName}}</td>
        <td>{{Code}}</td>
        <td>{{Cost}}</td>
        <td>{{Amount}}</td>
        <td>
            <a class="btn-delete" data-productid="{{ProdId}}" data-productname="{{ProdName}}" href="#">Xóa</a>
            <a class="btn-edit" data-productid="{{ProdId}}" data-amount="{{Amount}}" href="#">Cập nhật</a>
        </td>
    </tr>
</script>